:root {
    --primary-color: #0a9;
    --secondary-color: #999;
    --main-font: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    max-width: 800px;
    font-family: var(--main-font);
}

header, footer {
    background-color: var(--primary-color);
    padding: 1rem;
    text-align: center;
}

main {
    background-color: var(--secondary-color);
    border-top: solid 2rem #fff;
    border-bottom: solid 2rem #fff;
    border-radius: 6%;
}

div {
    margin: 2rem 1rem;
}

label, legend {
    display: block;
}

select,
input[type="text"],
input[type="radio"],
input[type="submit"],
input[type="date"],
textarea {
    display: block;
    width: fit-content;
    margin: 0.5rem 0;
    padding: 0.3rem;
}

.stars {
    margin: 0.5rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

input[type="radio"] {
    justify-self: center;
}

.stars label {
    margin: 0.5rem;
    font-size: x-small;
    text-align: center;
}

input[type="checkbox"] {
    margin: 0.5rem;
}

.features label {
    display: inline;
}

input[type="text"],
textarea {
    width: 100%;
}

input[type="submit"] {
    margin: 1rem;
    padding: 0.5rem;
    width: 50%;
    justify-self: center;
}