:root {
    --golden-brown: #9c6430;
    --deep-purple: #250f0f;
    --beige: #ddb98b;
    --light-beige: #ffd9b5;
    --mid-brown: #69371b;
    --pale-green: #b1ba9d;
    --cursive-font: "Cherish", cursive;
    --serif-font: "Wellfleet", serif;
    --sans-serif-font: "Faculty Glyphic", sans-serif;
    --thick-border: thick solid var(--deep-purple);
    --green-border-accent: 3px solid var(--pale-green);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--sans-serif-font);
    color: var(--deep-purple);
}

header, footer {
    text-align: center;
    background-color: var(--pale-green);

}

header {
    padding: 1rem 1rem 2rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    line-height: 3rem;
}

h1, h2, h3 {
    font-family: var(--serif-font);
}

h1 .cursive{
    font-size: 2.5em;
}

main {
    padding: 1rem;
    margin: auto;
    background-color: var(--light-beige);
    /* background-image: linear-gradient(to bottom, var(--golden-brown), var(--light-beige)); */
    border-top: var(--thick-border);
    border-bottom: var(--thick-border);
}

section {
    margin: 1rem auto;
    padding: 1.5rem;
    background-color: var(--beige);
    border: var(--thick-border);
    border-radius: 15px;
    box-shadow: 1px 1px 15px 10px var(--mid-brown) inset;
    max-width: 1000px;
}

li {
    list-style: circle;
}

footer {
    padding: 1rem;
}

/* Class Rules */

.golden-brown {
    color: var(--golden-brown);
}

.deep-purple {
    color: var(--deep-purple);
}

.beige {
    color: var(--beige);
}

.light-beige {
    color: var(--light-beige);
}

.mid-brown {
    color: var(--mid-brown);
}

.pale-green {
    color: var(--pale-green);
}

.dark-outline {
    text-shadow: 
    1px 1px 1px var(--deep-purple),
    -1px 1px 1px var(--deep-purple),
    1px -1px 1px var(--deep-purple),
    -1px -1px 1px var(--deep-purple);
}

.cursive {
    font-family: var(--cursive-font);
    font-size: xx-large;
    font-weight: bold;
}

.serif {
    font-family: var(--serif-font);
}

.sans-serif {
    font-family: var(--sans-serif-font);
}

.small-text {
    font-size: 60%;
}

.header-outline {
    text-shadow: 
    1px 1px 2px var(--golden-brown),
    2px 2px 1px var(--deep-purple),
    -2px -2px 1px var(--deep-purple),
    -1px 1px 1px var(--deep-purple),
    5px 5px 3px var(--golden-brown);
}
