@media screen and (min-width: 600px) {
    #menu {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
    }

    nav a {
        display: block;
    }

    figure {
        max-width: 200px;
    }

    #how-to-help {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-flow: column;
    }
}