:root {
    --golden-brown: #9c6430;
    --deep-purple: #250f0f;
    --beige: #ddb98b;
    --light-beige: #ffd9b5;
    --mid-brown: #69371b;
    --pale-green: #b1ba9d;
    --cursive-font: "Cherish", cursive;
    --serif-font: "Wellfleet", serif;
    --sans-serif-font: "Faculty Glyphic", sans-serif;
    --thick-border: thick solid var(--deep-purple);
    --thick-border-pop: thick solid var(--pale-green);
    --thin-border: 2px solid var(--deep-purple);
    --thin-border-pop: 2px solid var(--pale-green);
    --green-border-accent: 3px solid var(--pale-green);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--sans-serif-font);
    color: var(--deep-purple);
    width: 100%;
    min-height: 100vh;
    text-align: center;
}

header, footer {
    padding: 1rem;
    background-color: var(--pale-green);
}

header {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    position: relative;
}

#branding {
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}

header img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

#branding > * {
    flex: 0 2 auto;
    padding: 1rem;
    width: inherit;
    line-height: 3rem;
}

h1, h2, h3, legend {
    font-family: var(--serif-font);
}

h1 .cursive{
    font-size: 2.5em;
}

nav {
    display: none;
    flex-direction: column;
    justify-content: space-around;
}

nav.open {
    display: flex;
}

a {
    text-decoration: none;
    color: var(--deep-purple);
    font-weight: bold;
}

nav a {
    padding: 0.5rem;
}

nav a:hover {
    outline: var(--thin-border);
    border-radius: 10px;
}

main {
    padding: 1rem;
    margin: auto;
    background-color: var(--light-beige);
    /* background-image: linear-gradient(to bottom, var(--golden-brown), var(--light-beige)); */
    border-top: var(--thick-border);
    border-bottom: var(--thick-border);
    min-height: 63vh;
}


section {
    margin: 1rem auto;
    padding: 1.5rem;
    background-color: var(--beige);
    border: var(--thick-border);
    border-radius: 15px;
    box-shadow: 1px 1px 15px 10px var(--mid-brown) inset;
    max-width: 1000px;
    text-align: center;
}

section a {
    margin: auto;
    padding: 1rem;
    font-size: larger;
    background-color: var(--pale-green);
    border: var(--thin-border);
    border-radius: 10px;
}

p {
    margin: 1rem;
}

li {
    list-style: circle;
}

.figure-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

figure {
    max-width: 150px;
    margin: 1rem;
    font-weight: bold;
}

figure img {
    border: var(--thin-border);
    max-width: inherit;
}

footer {
    font-size: smaller;
}

/* Form Design */

form {
    margin: 2rem;
    text-align: left;
}

form p {
    border: var(--thin-border);
    outline: var(--thick-border-pop);
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem 3rem;
    text-align: center;
}

form > fieldset > legend {
    font-size: x-large;
}

fieldset {
    border: var(--thick-border);
    padding: 1rem;
    border-radius: 15px;
}

input[type="text"],
input[type="tel"],
input[type="email"]
{
    display: block;
    padding: 0.2em;
    margin: 0.3rem 0.5rem 1rem;
    border-radius: 3px;
}

input:required {
    border-left: solid thick red;
}

input:required:valid {
    border-left: solid thick green;
}

input[type="checkbox"] {
    margin: 0.5rem;
}

input[type="submit"] {
    margin: 1rem;
    padding: 0.5rem;
    font-size: larger;
    font-family: var(--serif-font);
}

/* Class Rules */

.golden-brown {
    color: var(--golden-brown);
}

.deep-purple {
    color: var(--deep-purple);
}

.beige {
    color: var(--beige);
}

.light-beige {
    color: var(--light-beige);
}

.mid-brown {
    color: var(--mid-brown);
}

.pale-green {
    color: var(--pale-green);
}

.dark-outline {
    text-shadow: 
    1px 1px 1px var(--deep-purple),
    -1px 1px 1px var(--deep-purple),
    1px -1px 1px var(--deep-purple),
    -1px -1px 1px var(--deep-purple);
}

.cursive {
    font-family: var(--cursive-font);
    font-size: xx-large;
    font-weight: bold;
}

.serif {
    font-family: var(--serif-font);
}

.sans-serif {
    font-family: var(--sans-serif-font);
}

.small-text {
    font-size: 60%;
}

.italic {
    font-style: italic;
}

.header-outline {
    text-shadow: 
    1px 1px 2px var(--golden-brown),
    2px 2px 1px var(--deep-purple),
    -2px -2px 1px var(--deep-purple),
    -1px 1px 1px var(--deep-purple),
    5px 5px 3px var(--golden-brown);
}



/* ID Selectors */

#how-to-help {
    margin: 1.5rem 1rem 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0 2rem;
}

#how-to-help p {
    margin: 1rem;
    text-align: justify;
}

#menu {
    position: absolute;
    right: 10px;
    bottom: 10px;
    border: none;
    background: none;
    font-size: xx-large;
    font-weight: bold;
}

#menu::before {
    content: "☰";
}   

#menu.open::before {
    content: "✖";
}