:root {
    --primary-color: #000;
    --secondary-color: #fff;
    --accent-color-1: #333;
    --accent-color-2: #bba;
}

table {
    margin: 10px auto;
    border: thin solid black;
    border-collapse: collapse;
}

tr:first-child th, .blank {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

th, td {
    padding: 1rem;
    background-color: var(--secondary-color);
    border: thin solid black;
    text-align: center;
}

th {
    background-color: var(--accent-color-1);
    color: var(--secondary-color);
}

tbody tr:nth-child(odd) {
    background-color: var(--accent-color-2);
}

caption{
    caption-side: bottom;
}