:root {
    --main-font-family: "Roboto", sans-serif;
    --primary-color: #C79CA0;
    --secondary-color: #2e2e33;
    --accent-color-1: #22aaa1;
    --accent-color-2: #EBE2E2;
    --thin-border: thin solid var(--secondary-color)
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* || GENERAL STYLES */

body {
    font-family: var(--main-font-family);
    background-color: var(--primary-color);
}

p {
    padding: 1rem;
    line-height: 1.5em;
}

ul {
    padding: 2rem;
    line-height: 2rem;
}

li a {
    color: var(--secondary-color);
}

h2 {
    background-color: var(--accent-color-1);
    color: var(--secondary-color);
    font-weight: bold;
    padding: 1rem;
    text-align: center;
    box-shadow: 0px 0px 10px var(--secondary-color);
    margin: -1rem -2rem auto;
}

a {
    text-align: center;
    text-decoration: none;
}

a:hover {
text-decoration: underline;
font-weight: bold;
}

img {
    height: auto;
    border: var(--thin-border);
}

/* || SITE-WIDE */


nav {
    display: flex;
    padding: 1rem;
    margin: auto;
    background-color: var(--secondary-color);
    align-items: center;
}

nav a {
    flex: 1 1 auto;
    color: var(--accent-color-1);
    text-shadow: 1px 1px 0.5px black,
                -1px 1px 0.5px black,
                1px -1px 0.5px black,
                -1px -1px 0.5px black;
}

nav a:hover {
    text-decoration: none;
    color: var(--primary-color);
    text-shadow: 1px 1px var(--secondary-color),
                -1px -1px var(--secondary-color),
                0px 0px 0.5em var(--primary-color),
                0px 0px 1.5em var(--primary-color);
}

main {
    max-width: 1500px;
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

h1 {
    grid-column: 1 / 3;
    text-align: center;
    color: var(--secondary-color);
}

article figure {
    width: 130px;
    height: auto;
    float: left;
    font-style: italic;
    font-size: smaller;
    margin-right: 1rem;
}

figure img {
    width: inherit;
}

footer {
    background-color: var(--secondary-color);
    color: var(--accent-color-1);
    text-align: center;
    padding: 1rem;
}

footer p {
    padding: 0;
}


/* || CLASSES & IDS */

#course-title {
    display: block;
    padding: 1em;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    text-align: center;
    font-size: xx-large;
    font-weight: 900;
    box-shadow: 5px 5px 20px var(--secondary-color) inset,
    -5px -5px 20px var(--secondary-color) inset;
}

.card {
    width: auto;
    background-color: var(--accent-color-2);
    border: var(--thin-border);
    border-radius: 20px;
    overflow: hidden;
    color: var(--secondary-color);
    padding: 1rem;
}

#profile {
    width: 130px;
    float: right;
    margin: 1rem;
    box-shadow: 2px 4px 0.5em var(--secondary-color);
}

#utah {
    text-align: center;
    margin: 1rem;
}

#utah h3 {
    border-bottom: var(--thin-border);
    margin: 1rem;
}

#lastModified {
    color: var(--primary-color);
    font-style: italic;
    font-size: smaller;
}

#abt-me {
    width: 80%;
}