:root {
    --primary-color: #f00;
    --secondary-color: #fff;
    --accent-color-1: #f55;
    --accent-color-2: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--secondary-color);
    text-align: center;
}

header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem;
}

header p {
    font-size: xx-large;
}

header nav {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: var(--accent-color-2);
}

nav a {
    padding: 1rem;
    font-weight: bold;
}

nav a:hover {
    background-color: var(--accent-color-1);
    mask-image: radial-gradient(black 50%, transparent 100%);
    border: black solid thin;
}

main {
    max-width: 1000px;
    margin: 0 auto;
}

#photo-div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}