@media (min-width: 40em) {
    #menu {
        display: none;
    }

    header {
        grid-template-columns: 1fr 1fr;
    }

    nav {
        flex-direction: row;
        margin: 1rem;
    }

    nav a {
        display: block;
    }
}